*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calculadora {
    width: 400px;
    padding: .6em;
    margin: .5em;
    border-radius: 10px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;

}

#calculadora h3 {
   font-size: .9em;
   font-weight: 300;
   color: #ffffff; 
}

#operation {
    text-align: right;
    height: 80px;
}

#currentOperation {
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word;
  }
  
#buttonsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
  }
  
  #buttonsContainer button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: rgb(57, 55, 55);
    cursor: pointer;
  }

#buttonsContainer button:hover {
    background-color: rgb(74, 69, 69) !important;   
}

button.btnNumber {
    background-color: rgb(74, 69, 69) !important;
    color: white;
}

#buttonsContainer button.btnNumber:hover {
    background-color: rgb(57, 55, 55) !important;  
}

#buttonsContainer #btnIgual {
    grid-column: span 2;
    background-color: #75a5cb;
  }
  
  #buttonsContainer #btnIgual:hover {
    grid-column: span 2;
    background-color: #3a91d8;
  }